<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AvitoRuslanParser.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AvitoRuslanParser.Properties>
            <setting name="Setting" serializeAs="String">
                <value>d</value>
            </setting>
            <setting name="LinkOnAd" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToImg" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToProxy" serializeAs="String">
                <value />
            </setting>
        </AvitoRuslanParser.Properties>
    </userSettings>
</configuration>
